
#certs-list{
    display: grid;
    margin:20px 0px 10px 0px;
    gap:30px;
    padding:20px 0px 20px 20px;
    background-color: rgb(243, 240, 237);
}

#certs-list-container{
    margin:auto;
    width: 600px;
}